<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-RXZLe0JZc3v0eWxll8+D7IbXXNZwq3CnF3mm8M9m+ETm1nPHf+l/hbRzce/iAV7bkUaxY/2AmJdQs1sBzi/GVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-ZQ59JyL5+5o5vE/5fmhB9XZoWx+8N4qBbYwYpDqpVDBmxid8rDJ3RGaTF/k2gzMYOFIhRzCJf7VUHbbwU13EOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha512-nZD9VZxsc6nZYU6Z/GIRwN+jp04wk3iNf1r3q1ehQIb9ZlLdC8avJlkg1SV2QJDRB5R5f5vS0EiypxE4Xp+WJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loading.css') }}">
    <link rel='stylesheet' href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">

    <style>
        #mySidenav a {
          position: absolute;
          left: -80px;
          transition: 0.3s;
          padding: 15px;
          width: 100px;
          text-decoration: none;
          font-size: 16px;
          color: white;
          border-radius: 0 5px 5px 0;
        }

        #mySidenav a:hover {
          left: 0;
        }

        #dashboard {
          top: 90px;
          background-color: grey;
        }

        #lesson {
          top: 150px;
          background-color: #2196F3;
        }

        #learners {
          top: 210px;
          background-color: #FF9966;
        }

        #badge {
          top: 270px;
          background-color: #00cc66
        }

<!--        #contact2 {-->
<!--          top: 410px;-->
<!--          background-color: #9900cc-->
<!--        }-->
    </style>

</head>

<body>
    <div id="mySidenav" class="sidenav">
      <a href="dashboard1" id="dashboard">Dashboard</a>
          <a href="lesson" id="lesson">Lessons</a>
          <a href="learners" id="learners">Learners</a>
          <a href="badge" id="badge">Badges</a>
    </div>

    <form action="{{ url_for('dashboard2') }}" method="post">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename = 'img/cass-logo.png')}}" alt="Logo" width="280" height="60" class="rounded float-start">
          </a>


            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
            <input type="submit" value="Submit">

      </div>
    </nav>

    <div id="loading">
        <div id="loading-bar">
            <div class="loading-color"></div>
        </div>
    </div>

    <main>
        <div class="container">

            <!--dropdown-select-->
            <div class="row align-items-left">
                <label for="course-selector" class="col-sm-2 col-form-label text-end">Select Course: {{ selected_course }}</label>
                <div class="col-sm-10">
                    <select name="course-selector" id="course-selector" class="form-select" onchange="this.form.submit()">
                      {% for course in courses %}
                        {% if course[1] == selected_course %}
                          <option value="{{ course[1] }}" selected>{{ course[0] }}</option>
                        {% else %}
                          <option value="{{ course[1] }}">{{ course[0] }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>

                </div>
            </div>

            <!------------------------------------>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xm-12">

                    <div class="ml-auto mr-auto">

                        <div class="row">

                            <div class="col-md-1" style="width: 12.499999995%; flex: 0 0 12.499%;max-width: 12.499%;">
                              <div class="card-counter primary">
                                <i class="fa fa-slideshare"></i>
                                <span class="count-numbers">{{ num_enrolled }}</span>
                                <span class="count-name">Learners</span>
                              </div>
                            </div>

                            <div class="col-md-1" style="width: 12.499999995%; flex: 0 0 12.499%;max-width: 12.499%;">
                              <div class="card-counter danger">
                                <i class="fa fa-graduation-cap"></i>
                                <span class="count-numbers">{{ num_certified }}</span>
                                <span class="count-name">Certified</span>
                              </div>
                            </div>

                            <div class="col-md-1" style="width: 12.499999995%; flex: 0 0 12.499%;max-width: 12.499%;">
                              <div class="card-counter success">
                                <i class="fa fa-ticket"></i>
                                <span class="count-numbers">{{num_badges}}</span>
                                <span class="count-name">Badges</span>
                              </div>
                            </div>

                            <div class="col-md-1" style="width: 12.499999995%; flex: 0 0 12.499%;max-width: 12.499%;">
                              <div class="card-counter info">
                                <i class="fa fa-pencil"></i>
                                <span class="count-numbers">{{num_ulesson}}</span>
                                <span class="count-name">&#956;Lesson</span>
                              </div>
                            </div>

                            <div class="col-md-1" style="width: 12.499999995%; flex: 0 0 12.499%;max-width: 12.499%;">
                              <div class="card-counter pinkcat">
                                <i class="fa fa-laptop"></i>
                                <span class="count-numbers">{{num_watch}}</span>
                                <span class="count-name">Watched</span>
                              </div>
                            </div>

                            <div class="col-md-1" style="width: 12.499999995%; flex: 0 0 12.499%;max-width: 12.499%;">
                              <div class="card-counter purplecat">
                                <i class="fa fa-mail-reply-all"></i>
                                <span class="count-numbers">{{num_reflect}}</span>
                                <span class="count-name">Reflected</span>
                              </div>
                            </div>

                            <div class="col-md-1" style="width: 12.499999995%; flex: 0 0 12.499%;max-width: 12.499%;">
                              <div class="card-counter yellowcat">
                                <i class="fa fa-chevron-down"></i>
                                <span class="count-numbers">{{num_digfurther}}</span>
                                <span class="count-name">Dig Further</span>
                              </div>
                            </div>

                            <div class="col-md-1" style="width: 12.499999995%; flex: 0 0 12.499%;max-width: 12.499%;">
                              <div class="card-counter greencat">
                                <i class="fa fa-users"></i>
                                <span class="count-numbers">0</span>
                                <span class="count-name">Involved</span>
                              </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <!------------------------------------>

            <!--2nd row-->
            <div class="row">

                <div class="col-xl-6 col-lg-7">
                            <div class="card shadow mb-1">
                                <div class="card-body">
                                    <div id="chart1"></div>
                                </div>
                            </div>
                        </div>

                <div class="col-xl-6 col-lg-7">
                            <div class="card shadow mb-1">
                                <div class="card-body">
                                    <div id="chart2"></div>
                                </div>
                            </div>
                        </div>

            </div>

            <!--3rd row-->
            <div class="row">

                <div class="col-xl-6 col-lg-7" id="table"></div>

                <div class="col-xl-6 col-lg-7 columnformap">
                    <div id="chart4" style="margin-top: 0px; z-index:-1;"></div>
                </div>

            </div>



        </div>
    </main>
    </form>

    <style>

        .columnformap {
            flex: 1;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }

        #table {
        height: 100%;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        }

        #table tr:first-child {
            border-top: 1px solid #ccc;
        }

        #table tr:last-child {
            border-bottom: 1px solid #ccc;
        }

        #table td, #table th {
            border: 1px solid #ccc;
            padding: 5px;
        }
    </style>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function() {
        let selected_course = "{{ selected_course }}";
        let course_selector = document.getElementById("course-selector");
        for (let option of course_selector.options) {
          if (option.value === selected_course) {
            option.selected = true;
            break;
          }
        }
        });

        var graphs1 = {{ newusers_oncourse_JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        var graphs2 = {{ monthly_access_JSON | safe}};
        Plotly.plot("chart2", graphs2,{});

        var graphs4 = {{ graph4JSON | safe}};
        var layout = {
			height : 400,
			width : 550,
			title : 'Demo',
			tracetoggle: false
		};
        Plotly.plot("chart4", graphs4, layout, {displayModeBar: false});

        var tableData = {{ table_data|safe }};
        var tableLayout = {
          margin: {t: 0, b: 0, l: 10, r: 10},
          padding: {t: 0, b: 0, l: 0, r: 0}
        };
        Plotly.newPlot('table', tableData, tableLayout);

    </script>



</body>
</html>